.popWin {
	font-size: 9pt;
	text-align: center;
	display: none;
	width: 80px;
	padding: 3px 3px;
	line-height: 18px;
	border: 2px solid #66CCFF;
	background-color: white;
	position: absolute;
	z-index: 0;
}

.popWin div.items{
	display: inline-block;
	text-decoration: underline;
	cursor: pointer;
}
